//Layout
header {
    .container {
        // Debug
        @include bg-container(white);

        .wrapper {
            @include wrapper(0em, $paddingWrapper);
        }
    }
}

//Content
.header {
    height: $header-height;
    @include flex(row, space-between, center);

    //LOGO
    &__logo div {
        width: $header-logo;
        height: $header-logo;
    }

    //MENU NAV
    &__navigation ul {
        height: $header-height;
        @include flex(row, flex-start, center);
        gap: 2em;


        li {
            height: $header-height;
            @include flex(row, center, center);
            border-bottom: 4px solid white;

            a {
                font-size: .8rem;
                font-weight: 600;
                text-transform: uppercase;
                color: black;

                //Active page color txt
                &.active {
                    color: $primary-color;
                }
            }

            &:hover a {
                color: $primary-color;
            }

            //Active page underline
            &.active-border {
                border-bottom: 4px solid $primary-color;
            }
        }


    }

    &__search {
        height: $header-height;
        @include flex(row, center, center);
        font-size: .8rem;
        font-weight: 600;
        border-bottom: 4px solid rgb(255, 255, 255);
    }
}