//Layout
header {
    .container-topbar {
        @include bg-container($primary-color);
        color: white;
    }

    .container-header {
        @include bg-container(white);
    }

    .wrapper {
        @include wrapper(0em, $paddingWrapper);
    }
}

.topbar {
    font-size: .6rem;
    font-weight: 600;
}

//Content
.header {
    height: $header-height;
    @include flex(row, space-between, center);

    //LOGO
    &__logo div {
        width: $header-logo;
        height: $header-logo;
    }

    //MENU NAV
    &__navigation ul {
        @include flex(row, center, stretch);
        gap: 1.8em;
        padding: 0;
        margin: 0;


        li {
            a {
                font-size: .8rem;
                font-weight: 600;
                text-transform: uppercase;
                color: black;

                //Active page color txt
                &.active {
                    color: $primary-color;
                }
            }

            &:hover a {
                color: $primary-color;
            }

            //Active page underline
            // &.active-border {
            //     border-bottom: 4px solid $primary-color;
            // }
        }
    }

    &__search {
        height: $header-height;
        line-height: $header-height;
        font-size: .8rem;
        font-weight: 600;
    }
}