//Layout BANNER
.banner {
    @include bg-container(none);
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: $banner-height;
}

//Layout CARDS container
.container-main {
    @include bg-container($dark-color);

    .wrapper {
        @include wrapper(1em, $paddingWrapper);
        color: white;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    //Content
    // TITLE current series
    .cards-title {
        position: absolute;
        top: -40px;
        align-self: flex-start;

        h4 {
            background-color: $primary-color;
            padding: .8em .8em;
            text-transform: uppercase;
            text-align: center;
        }
    }

    // CARDS
    .cards-wrapper {
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
        margin-top: 1em;


        .card-wrapper {
            width: calc(100% / 6);
            @include flex(column, flex-start, center);
            margin-top: 2em;
            cursor: pointer;

            &:hover .card-img img {
                opacity: .5;
            }
        }

        // CARD IMAGE
        .card-img {
            width: 10em;
            height: 10em;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        //CARD SUBTITLE
        .card-subtitle {
            align-self: flex-start;
            text-transform: uppercase;
            font-size: .8rem;
        }
    }

    //BUTTON
    .cards-button {
        align-self: center;
        margin: 1.5em 0 1em;

        button {
            background-color: $primary-color;
            color: white;
            padding: .5em 4em;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: lighten($primary-color, 10%);
            }
        }

    }

}